#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #40a9ff;
}

.rcorners1 {
  border-radius: 25px;
  border: 0px solid #73AD21;
  background-color: #cccccc;
  background: rgb(150,150,150);
  background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(180,179,179,1) 27%, rgba(201,201,201,1) 100%);
}

.rcorners2 {
  border-radius: 25px;
  border: 0px solid #000000;
  background-color: #e0e0e0;
  min-height: 500px;
  margin: 10px;
  background: rgb(171,171,171);
  background: linear-gradient(90deg, rgba(171,171,171,1) 0%, rgba(200,200,200,1) 27%, rgba(233,233,233,1) 100%);
  box-shadow: 5px 5px 10px;
}

.rcorners3 {
  min-height: 395px;
}


.padding {
  padding: 10x;
}